<% if @mailing.errors.any? %>
<div id="error_explanation">
  <h3><%= pluralize(@mailing.errors.count, "error") %>
    prohibited this mailing from being saved:</h3>
  
  <ul>
    <% @mailing.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-row pb-2">
  <label for="committee" class="col-form-label pt-0">Committee: </label>
  <div>
    <%= f.select :committee, @committees, class: "form-control" %>
  </div>
</div>
<div class="form-row pb-2">
  <label for="subject" class="col-form-label col-sm-1">Subject: </label>
  <div>
    <%= f.text_field :subject, size: 30, class: "form-control" %>
  </div>
</div>
<div class="form-row pb-2">
  <label for="subject" class="col-form-label col-sm-1">Reply to: </label>
  <div>
    <%= f.text_field :replyto, size: 30, class: "form-control" %>
  </div>
</div>
<div class="form-row pb-2">
  <label for="subject" class="col-form-label col-sm-1">Body: </label>
  <div>
    <%= f.text_area :body, size: "80x25", class: "form-control" %>
  </div>
</div>
<div class="form-row form-check mr-4 pb-2">
  <%= f.check_box :html, class: "form-check-input" %>
  <label for="html" class="form-check-label">HTML?</label>
</div>
