<% if @mailing.errors.any? %>
<div id="error_explanation">
  <h3><%= pluralize(@mailing.errors.count, "error") %>
    prohibited this mailing from being saved:</h3>
  
  <ul>
    <% @mailing.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row pb-2">
  <label for="committee" class="col-form-label pt-0">Committee: </label>
  <div>
    <%= f.select :committee, @committees, class: "form-control" %>
  </div>
</div>
<div class="row pb-2">
  <label for="subject" class="col-form-label col-sm-1">Subject: </label>
  <div>
    <%= f.text_field :subject, size: 30, class: "form-control" %>
  </div>
</div>
<div class="row pb-2">
  <label for="subject" class="col-form-label col-sm-1">Reply to: </label>
  <div>
    <%= f.text_field :replyto, size: 30, class: "form-control" %>
  </div>
</div>
<div class="row ms-3 pb-2">
  <%= f.label :content %>
  <%= f.rich_text_area :content %>
</div>
