<h2>Mailings</h2>

<table class="ms-4 table table-sm">
  <thead class="thead-light">
    <tr>
      <th>Subject</th>
      <th>Created</th>
      <th>Sent</th>
    </tr>
  </thead>
  <tbody>
    <%- for mailing in @mailings %>
      <tr>
	<td><%= mailing.subject %></td>
	<td><%= mailing.created_at %></td>
	<td><%= mailing.sent_at %></td>
	<td class="list-actions">
	  <%= link_to 'Show', mailing_path(mailing) %><br/>
	  <%= link_to 'Delete', mailing, data: {turbo_method: 'delete', turbo_confirm: 'Are you sure?'} %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

