<h2>Mailings</h2>

<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th>Subject</th>
      <th>Created</th>
      <th>Sent</th>
    </tr>
  </thead>
  <tbody>
    <%- for mailing in @mailings %>
    <tr>
      <td><%= mailing.subject %>
      <td><%= mailing.created_at %>
      <td><%= mailing.sent_at %>
      <td class="list-actions">
	<%= link_to 'Show', mailing_path(mailing) %><br/>
	<%= link_to 'Delete', mailing, data: {confirm: 'Are you sure?'}, method: :delete %>
    </tr>
    <% end %>
  </tbody>
</table>

