<h2>New Mailing</h2>

<%= form_with model: @mailing, method: "post", html: {multipart: true} do |f| %>
  <%= render partial: "form", locals: { f: f } %>

  <hr>
  <h5>Attachments</h5>
  <p>Note: mulitple files can be selected.</p>
  <div class="attachment_fields">
    <%= f.file_field :pdfs,  multiple: true %>
  </div>

  <div class="row mt-3">
    <div class="col-sm-3">
      <%= f.submit "Create", class: "btn btn-primary", data: {disable_with: false} %> | <%= link_to 'Back', mailings_path %>
    </div>
  </div>
<% end %>
