<div>
  <p><label>Committee: </label><%=h @mailing.committee %></p>
  <p><label>Subject: </label><%=h @mailing.subject %></p>
  <p><label>Reply To: </label><%=h @mailing.replyto %></p>
  <br/>
  <hr>
  <% if @old_style %>
    <%= render inline: @mailing.body %>
  <% else %>
    <%= @mailing.content %>
  <% end %>
  <hr>
  
  <% if @old_style %>
    <p>This is an email with the old format, it can only be displayed.</p>
    <%= link_to "Mailings", mailings_path %>
  <% else %>
    <h5>Attachments</h5>
    <div class="attachment_fields">
      <% @mailing.pdfs.each do |p| %>
	<p><%= link_to(p.filename, rails_blob_path(p, disposition: "attachment")) %></p>
      <% end %>
    </div>
    
    <br/>
    <%= form_with url: send_email_mailing_path(@mailing) do |f| %>
    <div class="row form-check ms-4 pb-2">
      <span>
	<label for="test" class="form-check-label">Test?</label>
	<%= f.check_box :test, {checked: @test, class: "form-check-input"}, true, false %>
      </span>
    </div>
    <div class="row form-check ms-4 pb-2">
      <span>
	<label for="filter_emails" class="form-check-label">Filter Emails?</label>
	<%= f.check_box :filter_emails, {class: "form-check-input"}, true, false %>
      </span>
    </div>
    <p class='font-italic font-sm'>When Filter Emails? is checked, email will only be sent to people who have the select_email field set to true.</p>
    <div class="form-group row mt-3">
      <div class="col-sm-3">
	<%= f.submit "Email", class: "btn btn-primary" %> | <%= link_to 'Edit', edit_mailing_path(@mailing) %> | <%= link_to "Mailings", mailings_path %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
