<div class="form-row">
  <div class="form-group col-sm-2">
    <span class="has-float-label">
      <%= f.text_field :MemberSince, id: "MemberSince", class: "form-control", readonly: read_only_not(['Admin', 'Membership']), placeholder: " " %>
      <label for="MemberSince">Member Since</label>
    </span>
  </div>
  <div class="form-group row">
    <label for="Status" class="col-form-label pt-0 col-sm-4">Status:</label>
    <% if current_user.roles?(%w(Admin Membership)) %>
    <div class="col-sm-4">
      <%= f.collection_select :Status, Memberstatus.order(:Status), :Status, :Status, class: "form-control" %>
    </div>
    <% else %>
    <div class="col-sm-4">
      <%= @membership.Status %>
    </div>
    <% end %>
  </div>
  <div class="form-group col-sm-3">
    <span class="has-float-label">
      <%= f.text_field :mooring_num, class: "form-control", readonly: read_only_not(['Admin','Harbormaster']), placeholder: " " %>
      <label for="mooring_num">Mooring #</label>
    </span>
  </div>
  <div class="form-group col-sm-3">
    <span class="has-float-label">
      <%= f.text_field :drysail_num, class: "form-control", readonly: read_only_not(['Admin','Harbormaster']), placeholder: " " %>
      <label for="drysail_num">DrySail #</label>
    </span>
  </div>
</div>

<% if current_user.roles?(%w(Admin Membership)) %>
<div class="form-row">
  <div class="form-group col-sm-3">
    <label for="application_date" class="col-form-label pt-0">Application Date:</label>
    <div class="">
      <%= f.date_select :application_date, include_blank: true, order: [:month, :day, :year], start_year: 1960, end_year: Time.now.year, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group col-sm-3">
    <label for="active_date" class="col-form-label pt-0">Active Date:</label>
    <div class="">
      <%= f.date_select :active_date, include_blank: true, order: [:month, :day, :year], start_year: 1960, end_year: 1+Time.now.year, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group col-sm-3">
    <label for="resignation_date" class="col-form-label pt-0">Resignation_Date:</label>
    <div class="">
      <%= f.date_select :resignation_date, include_blank: true, order: [:month, :day, :year], start_year: 1960, end_year: 1+Time.now.year, class: 'form-cont' %>
    </div>
  </div>
</div>
<div class="form-row mb-4">
  <div class="form-check mr-4 mt-4">
    <%= f.check_box :paid, class: "form-check-input" %>
    <label for="paid" class="form-check-label">Paid?</label>
  </div>
  <div class="form-check mr-4 mt-4">
    <%= f.check_box :skip_mooring, class: "form-check-input" %>
    <label for="skip_mooring" class="form-check-label">Skip mooring fee?</label>
  </div>
</div>
<div class="form-row mb-3">
  <span class="has-float-label col-sm-12">
    <%= f.text_area :notes, id: "notes", class: "form-control", placeholder: " " %>
    <label for="notes">Notes</label>
  </span>
</div>
<h5>Initiation Installments</h5>
<hr>
<div class="initiation_installment_fields">
  <%= f.fields_for :initiation_installments do |f| %>
  <%= render 'initiation_installment', f: f %>
  <% end %>
</div>
<%= link_to_add_initiation_installment('Add initiation_installment', f, :initiation_installments, class: 'btn btn-primary mb-3') %>
</div>
<% end %>
