<div class="row mb-2">
    <div class="col-sm-4">
	<span class="has-float-label">
	    <%= f.text_field :LastName, id: "MembershipLastName", class: "form-control", placeholder: " " %>
	    <label for="LastName">Last Name</label>
	</span>
    </div>
    <div class="col-sm-8">
	<span class="has-float-label">
	    <%= f.text_field :MailingName, id: "MailingName", class: "form-control", placeholder: " " %>
	    <label for="MailingName">Mailing Name</label>
	</span>
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm-4">
	<span class="has-float-label">
	    <%= f.text_field :StreetAddress, id: "StreetAddress", class: "form-control", placeholder: " " %>
	    <label for="StreetAddress">Street Address</label>
	</span>
    </div>
    <div class="col-sm-4">
	<span class="has-float-label">
	    <%= f.text_field :City, id: "City", class: "form-control", placeholder: " " %>
	    <label for="City">City</label>
	</span>
    </div>
</div>
<div class="row mb-2">
  <div class="col-sm-2">
    <span class="has-float-label">
      <%= f.text_field :State, id: "State", class: "form-control", placeholder: " " %>
      <label for="State">State</label>
    </span>
  </div>
  <div class="col-sm-2">
    <span class="has-float-label">
      <%= f.text_field :Zip, id: "Zip", class: "form-control", placeholder: " " %>
      <label for="Zip">Zip</label>
    </span>
  </div>
  <div class="col-sm-3">
    <span class="has-float-label">
      <%= f.text_field :Country, id: "Country", class: "form-control", placeholder: " " %>
      <label for="Country">Country</label>
    </span>
  </div>
</div>

