<div class="form-row">
  <div class="form-group col-sm-2">
    <span class="has-float-label">
      <%= f.text_field :MemberSince, id: "MemberSince", class: "form-control", readonly: read_only_not(['Admin', 'Membership']), placeholder: " " %>
      <label for="MemberSince">Member Since</label>
    </span>
  </div>
  <div class="form-group row">
    <label for="Status" class="col-form-label pt-0 col-sm-4">Status:</label>
    <div class="col-sm-2">
      <%= f.collection_select :Status, Memberstatus.all, :Status, :Status, class: "form-control", disabled: read_only_not(['Admin', 'Membership']) %>
    </div>
  </div>
  <div class="form-group col-sm-3">
    <span class="has-float-label">
      <%= f.text_field :mooring_num, class: "form-control", readonly: read_only_not(['Admin','Harbormaster']), placeholder: " " %>
      <label for="mooring_num">Mooring #</label>
    </span>
  </div>
</div>
<div class="form-row">
  <div class="form-group row col-sm-3">
    <label for="application_date" class="col-form-label pt-0">Application Date:</label>
    <div class="">
      <%= f.date_select :application_date, include_blank: true, order: [:month, :day, :year], start_year: Time.now.year-2, end_year: Time.now.year, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row col-sm-3">
    <label for="active_date" class="col-form-label pt-0">Active Date:</label>
    <div class="">
      start_year: 1980, end_year: 1+Time.now.year
      <%= f.date_select :active_date, include_blank: true, order: [:month, :day, :year], start_year: 1980, end_year: 1+Time.now.year, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row col-sm-2 mr-2">
    <span class="has-float-label">
      <%= f.text_field :initiation, id: "initiation", class: "form-control", placeholder: " " %>
      <label for="initiation">Initiation</label>
    </span>
  </div>
  <div class="form-check mr-4">
    <%= f.check_box :paid, class: "form-check-input" %>
    <label for="paid" class="form-check-label">Paid?</label>
  </div>
  <div class="form-check mr-4">
    <%= f.check_box :skip_mooring, class: "form-check-input" %>
    <label for="skip_mooring" class="form-check-label">Skip mooring fee?</label>
  </div>
</div>
