<div class="row">
    <div class="col-sm-2">
	<span class="has-float-label">
	    <%= f.text_field :MemberSince, id: "MemberSince", class: "form-control", placeholder: " " %>
	    <label for="MemberSince">Member Since</label>
	</span>
    </div>
    <label for="Status" class="col-form-label pt-0 col-auto">Status:</label>
    <div class="col-sm-2">
      <% if current_user.roles?(%w(Admin Membership)) %>
	<%= f.collection_select :Status, Memberstatus.order(:Status), :Status, :Status, class: "form-control" %>
      <% else %>
	<%= @membership.Status %>
      <% end %>
    </div>
    <div class="col-sm-3">
      <p>Mooring #<%= @membership.mooring&.id %></p>
    </div>
    <div class="col-sm-3">
      <p>Dry Sail #<%= @membership.drysail&.id %></p>
    </div>
</div>

<% if current_user.roles?(%w(Admin Membership)) %>
    <div class="row">
	<div class="col-sm-3">
	    <label for="application_date" class="col-form-label pt-0">Approval Date:</label>
	    <div class="">
		<%= f.date_select :application_date, include_blank: true, order: [:month, :day, :year], start_year: 1960, end_year: Time.now.year, class: 'form-control' %>
	    </div>
	</div>
	<div class="col-sm-3">
	    <label for="active_date" class="col-form-label pt-0">Active Date:</label>
	    <div class="">
		<%= f.date_select :active_date, include_blank: true, order: [:month, :day, :year], start_year: 1960, end_year: 1+Time.now.year, class: 'form-control' %>
	    </div>
	</div>
	<div class="col-sm-3">
	    <label for="resignation_date" class="col-form-label pt-0">Resignation_Date:</label>
	    <div class="">
		<%= f.date_select :resignation_date, include_blank: true, order: [:month, :day, :year], start_year: Time.now.year-1, end_year: 1+Time.now.year, class: 'form-cont' %>
	    </div>
	</div>
    </div>
    <div class="mb-4">
	<div class="form-check mr-4 mt-4">
	    <%= f.check_box :skip_mooring, class: "form-check-input" %>
	    <label for="skip_mooring" class="form-check-label">Skip mooring fee?</label>
	</div>
    </div>
    <div class="mb-3">
	<span class="has-float-label col-sm-12">
	    <%= f.text_area :notes, id: "notes", class: "form-control", placeholder: " " %>
	    <label for="notes">Notes</label>
	</span>
    </div>
    <h5>Initiation Installments</h5>
    <hr>
    <div class="initiation_installment_fields ms-4">
	<%= f.fields_for :initiation_installments do |f| %>
	    <%= render 'initiation_installment', f: f %>
	<% end %>
	<div data-dynamic-form-target="installment"></div>
	<button type="button" data-action="dynamic-form#add_installment", class="btn btn-primary mb-3 mt-3">Add initiation installment</button>
    </div>
<% end %>    
