<table class="table table-sm table-striped">
  <thead class="thead-light">
    <tr>
      <th><%= sortable 'LastName', 'Last Name' %></th>
      <th><%= sortable 'MailingName', 'Mailing Name' %></th>
      <th><%= sortable 'mooring_num', 'Mooring#' %></th>
      <th>Boat Name</th>
      <th>Boat Type</th>
    </tr>
  </thead>
<% for membership in @memberships %>
  <tbody>
    <tr scope="row">
      <td><%= link_to membership.LastName, membership %>
      <td><%= membership.MailingName %></td>
      <td><%= membership.mooring_num %></td>
      <% if membership.moored_boat.nil? %>
        <td></td>
        <td></td>
      <% else %>
        <% if membership.moored_boat.Name.nil? || membership.moored_boat.Name == "" %>
          <td><%= membership.moored_boat.Name %></td>
          <td><%= link_to membership.moored_boat.Mfg_Size, boat_path(membership.moored_boat) %></td>
        <% else %>
          <td><%= link_to membership.moored_boat.Name, boat_path(membership.moored_boat) %></td>
          <td><%= membership.moored_boat.Mfg_Size %></td>
        <% end %>
      <% end %>
      <td><span class="list-actions"><%= link_to 'Unassign', unassign_membership_path(membership),
					 data: {confirm: 'Are you sure?'}, method: :post %>
	</span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
