<h2>New membership</h2>


<%= form_for @membership do |f| %>
<% if @membership.errors.any? %>
<div id="error_explanation">
  <h3><%= pluralize(@membership.errors.count, "error") %>
    prohibited this user from being saved:</h3>
  
  <ul>
    <% @membership.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= render :partial => "form_member_update1", :locals => { :f => f} %>

<% if current_user.roles?(['Admin','Harbormaster']) %>
<%= render :partial => "form_harbor_update", :locals => { :f => f} %>
<% else %>
<p><label>Mooring#:</label><%= @membership.mooring_num %></p><br/>
<% end %>

<% if current_user.roles?(['Admin','Membership']) %>
<%= render :partial => "form_membership_update", :locals => { :f => f} %>
<% else %>
<p><label>Member Since:</label><%= @membership.MemberSince %></p><br/>
<p><label>Status:</label><%= @membership.Status %></p><br/>
<% end %>

<div class="form-group row">
  <div class="offset-sm-2 col-sm-10">
    <button type="submit"class="btn btn-primary">Update</button>
  </div>
</div>
<% end %>
