<div>
  <h2>Initiation installments due</h2>
  <p><b>Note: This indicates the season (billed the previous December) in which an initiation installment will be due. This does not track status of payments, this is done in Quickbooks</b></p>

  
<p><b>Total : </b><%= @initiation_fee_due.length %></p>
<table class="table table-sm table-striped">
  <thead class="thead-light">
    <tr>
      <th>Mailing Name</th>
      <th>Status</th>
      <th>Since</th>
      <th>Active Date</th>
      <th>Amount Due</th>
      <th>Year</th>
    </tr>
  </thead>

  <tbody>
    <% for installment in @initiation_fee_due %>
    <tr scope="row">
      <td><%= link_to installment[0].MailingName, installment[0] %>
      <td><%= installment[1] %></td>
      <td><%= installment[2] %></td>
      <td><%= installment[3] %></td>
      <td><%= installment[4] %></td>
      <td><%= installment[5] %></td>
    </tr>
    <% end %>
    <tbody>
</table>
</div>
