<div>
  <h3>Membership</h3>
  <hr>
  <table class="table table-sm">
    <tbody>
      <tr>
	<td><b>Last Name:</b></td><td><%= @membership.LastName %></td>
      </tr>
      <tr>
	<td><b>Mailing Name:</b></td><td><%= @membership.MailingName %></td>
      </tr>
      <tr>
	<td><b>Street Address:</b></td><td><%= @membership.StreetAddress %></td>
      </tr>
      <tr>
	<td><b>City:</b></td><td><%= @membership.City %></td>
      </tr>
      <tr>
	<td><b>State:</b></td><td><%= @membership.State %></td>
      </tr>
      <tr>
	<td><b>Zip:</b></td><td><%= @membership.Zip %></td>
      </tr>
      <tr>
	<td><b>Country:</b></td><td><%= @membership.Country %></td>
      </tr>
      <tr>
	<td><b>Mooring #:</b></td><td><%= @membership.mooring_num %></td>
      </tr>
      <tr>
	<td><b>Member Since:</b></td><td><%= @membership.MemberSince %></td>
      </tr>
      <tr>
	<td><b>Status:</b></td><td><%= @membership.Status %></td>
      </tr>
    </tbody>
  </table>
  <p>
    <%= link_to 'Edit Membership', edit_membership_path(@membership) %>
  </p>
  <% if not @membership.people.empty? %>
  <h3>People</h3>
  <hr>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
	<th>First</th>
	<th>Last</th>
	<th>Type</th>
	<th>Home Phone</th>
	<th>Cell Phone</th>
	<th>Work Phone</th>
	<th>Email</th>
	<th>Committee</th>
	<th>BirthYear</th>
      </tr>
    </thead>
    <tbody>
      <% for person in @membership.people %>
      <tr>
	<td><%= person.FirstName %></td>
	<td><%= person.LastName %></td>
	<td><%= person.MemberType %></td>
	<td><%= person.HomePhone %></td>
	<td><%= person.CellPhone %></td>
	<td><%= person.WorkPhone %></td>
	<td><%= person.EmailAddress %></td>
	<td><%= person.Committee1 %></td>
	<td><%= person.BirthYear %></td>
	<td class="list-actions">
	  <% if person.MemberType != 'Member' %>
          <%= link_to "Delete", membership_person_path(@membership,person), confirm: "Are you sure?", method: :delete %>
          <% end %>
	</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <% if not @membership.boats.empty? %>
  <h3><%= 'Boat'.pluralize(@membership.boats.size) %></h3>
    <hr>
    <%= render 'boats/boats_table', locals: {boats_array: @membership.boats, show_sort: false } %>
  <% end %>
  <p>
    <%= link_to 'Associate an Existing Boat', associate_membership_path(@membership) %>
  </p>
</div>
