<%= form_tag login_url, {class: "form-signin"} do %>
<h2 class="form-signin-heading">Please login</h2>
<label for="email" class="sr-only">Email</label>
<%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
<label for="password" class="sr-only">Password</label>
<%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Password" %>
<div class="checkbox">
  <label>
    <%= check_box_tag :remember_me %> Remember me?
  </label>
</div>
<button type ="submit" class="btn btn-primary btn-block">Login</button>
<div class="mt-2">
  <%= link_to "Forgot password?", new_password_path %>
</div>
<div class="mt-2">
  <%= link_to "Create an account", sign_up_path %>
</div>

<% end %>
  
