<% if @binnacle.errors.any? %>
<div id="error_explanation">
  <h3><%= pluralize(@binnacle.errors.count, "error") %>
    prohibited this binnacle from being saved:</h3>
  <ul>
    <% @binnacle.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p><label>Binnacle publication date:</label><%= @binnacle.publication_date %>
<p><label>Binnacle files:</label></p>
<p>
<% @binnacle.pdfs.each do |file| %>
  <%= file.pdf_file_name %><br/>
<% end %>
</p>
<%= form_for @binnacle, url: send_email_binnacle_path(@binnacle)) do |f| -%>
  <div class="form-row form-check mr-4 pb-2">
    <%= check_box_tag :test_email, :test_email, @test_email, class: "form-check-input" %>
    <label for="test" class="form-check-label">Test?</label>
  </div>
  <div class="form-group row mt-3">
    <div class="col-sm-3">
      <button type="submit" class="btn btn-primary">Email to List</button> | <%= link_to "Back", binnacles_path %>
    </div>
  </div
<% end -%>
