<div class="lcyc-form">
<%= render "shared/error_messages", :target => @binnacle %>

<p><label>Binnacle publication date:</label><%= @binnacle.publication_date %>
<p><label>Binnacle files:</label></p>
<p>
<% @binnacle.pdfs.each do |file| %>
  <%= file.pdf_file_name %><br/>
<% end %>
</p>
<%= form_for(@binnacle, :url => send_email_binnacle_path(@binnacle)) do |f| -%>
  <p>
    <label>Test email?</label>
    <%= check_box_tag  :test_email, :test_email, @test_email %>
  <p>
    <button type='submit'>Email to List</button> | <%= link_to 'Back', binnacles_path %>
  </p>
<% end -%>
</div>
