<h2>Upload a Binnacle</h2>
<%= form_for @binnacle, url: {action: 'create'}, html: {multipart: true} do |f| %>
  <% if @binnacle.errors.any? %>
    <div id="error_explanation">
    <h3><%= pluralize(@binnacle.errors.count, "error") %>
      prohibited this binnacle from being saved:</h3>
    <ul>
      <% @binnacle.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div class="form-row pb-2">
    <label for="publication_date" class="col-form-label pt-0">Publication Date: </label>
    <div>
      <%= f.date_select :publication_date, :order => [:month, :day, :year], :label => 'Publication Date: ' %>
    </div>
  </div>
  <div class="form-row pb-2">
    <label for="body" class="col-form-label pt-0">Email body:</label>
    <div>
      <%= f.text_area :body, :size => "80x20" %>
    </div>
  </div>
  <%= f.fields_for :pdfs do |pdf_form| %>
     <p><label>PDF file:</label>
     <%= pdf_form.file_field :pdf, :size => 60 %>
     </p>
  <% end %>
  <div class="form-group row mt-3">
    <div class="col-sm-3">
      <button type="submit" class="btn btn-primary">Upload</button> | <%= link_to 'Back', binnacles_path %>
    </div>
  </div>
<% end -%>
