<p>RE: <%=  1 + Time.now.year %> Membership Renewal and Mooring Information.
</p>
<p> Dear <%= @mailingname %>,
</p>
<p>Please find below your <%= 1 + Time.now.year %> Lake Champlain Yacht Club membership renewal and mooring billing statement. Please note that you should be receiving this billing statement through both the US Postal Service as well as email. If you are not receiving emails from LCYC check your SPAM folder. To ensure continued delivery of email add <strong>lcyc@members.lcyc.info</strong> to your contacts.
</p>
<p>
  <strong>Annual dues and mooring fees are due by December 31, <%= Time.now.year %>. A $100 late fee is required for all payments received after 12/31/<%= Time.now.year %>. Membership is terminated if payment is not received by February 1, <%= 1 + Time.now.year %>.</strong>
</p>
<p>Please return the following section with your payment to
</p>
<p style="margin-left: 10px">
Lake Champlain Yacht Club<br/>
P.O. Box 411<br/>
2790 Harbor Road<br/>
Shelburne, VT   05482<br/><br/><br/>
</p>

<table width="590">
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="border: 1px solid black; padding: 10px">Membership:  <%= @mailingname %><br/>
      Current email: <%= @email %><br/>
      Membership Status: <%= @status %><br/>
      Mooring#: <%= @mooring %><br/><br/><br/>
      New email:_________________________________________________
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid black; padding: 10px">
      <p>I wish to resign my LCYC membership:<br/><br/><br/></p>
      <p>Signed: </p>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; border: 1px solid black; padding: 10px">
      <table>
        <tr>
          <th style="text-align: left">Item</th>
          <th>Amt Due</th>
        </tr>
        <tr>
          <td>Annual Dues</td>
          <td style="text-align: right"><%= @dues %></td>
        </tr>
        <% if @mooring_fees != 0 %>
        <tr>
          <td>Mooring Fees</td>
          <td style="text-align: right"><%= @mooring_fees %></td>
        </tr>
	<% end %>
        <% if @drysail_fee != 0 %>
        <tr>
          <td>Dry Sail Fee</td>
          <td style="text-align: right"><%= @drysail_fee %></td>
        </tr> 
        <% end %>
	<% if @initiation != 0 %>
        <tr>
          <td>Initiation</td>
          <td style="text-align: right"><%= @initiation %></td>
        </tr>
        <% end %>
	<tr>
        </tr>
        <tr style="font-weight: bold">
          <td>Total</td>
          <td style="text-align: right"><%= @total %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid black; padding: 10px"> Mooring info:<br/>
      <input type="checkbox" readonly> I wish to relinquish my mooring assignment<br/>
      <input type="checkbox" readonly> I wish to moor a boat at LCYC in 2019:<br/>
      <p>Type: ___________________________<br/>
	Length: _______________
      </p>
      <input type="checkbox" readonly> I wish to request dry sail storage in 2019:<br/>
      <p>Type: ___________________________<br/>
	Length: _______________<br/>
      </p>
      <p class="small"><strong>Note: </strong>dry sail storage is limited to sportboat or other craft that must be stored with the mast up and on a trailer.  Questions about mooring assignments and dry sail storage should be directed to the Harbornaster, Bob Finn (rmfinn2@icloud.com)
	<p>
    </td>
  </tr>
</table>

