<p>RE: <%=  1 + Time.now.year %> Membership Renewal and Mooring Information. <strong>Please note that you should be receiving this billing statement through both the US Postal Service as well as email.</\
strong>
</p>
<p> Dear LCYC Member,
</p>
<p>Please verify your current email address and update it as needed on the form below.  If you are not receiving emails from LCYC, check your SPAM folder. To ensure continued delivery of email, add lcyc@\
members.lcyc.info to your contacts.  Questions about mooring assignments should be directed to the Harbormaster, Bob Finn (rmfinn2@icloud.com).
</p>
<p>Please return the following section with your payment.
  <ul>
    <li>Annual dues and mooring fees are due by <strong>December 31</strong>.
    <li> Checks should be made payable to LCYC
    <li>A $100 late fee is required for all payments received after 12/31.
    <li>If payment is not received by February 1, <%=  1 + Time.now.year %>,  membership is terminated
  </ul>
</p>
<p>Return form and payment to:
</p>
<p style="margin-left: 10px">
Lake Champlain Yacht Club<br/>
P.O. Box 411<br/>
2790 Harbor Road<br/>
Shelburne, VT   05482<br/><br/><br/>
</p>

<table width="590">
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="border: 1px solid black; padding: 10px">Membership:  <%= @mailingname %><br/>
      Current email: <%= @email %><br/>
      Membership Status: <%= @status %><br/>
      Mooring#: <%= @mooring %><br/><br/><br/>
      New email:_________________________________________________
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid black; padding: 10px">
      <p>I wish to resign my LCYC membership:<br/><br/><br/></p>
      <p>Signed: </p>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; border: 1px solid black; padding: 10px">
      <table>
        <tr>
          <th style="text-align: left">Item</th>
          <th>Amt Due</th>
        </tr>
        <tr>
          <td>Annual Dues</td>
          <td style="text-align: right"><%= @dues %></td>
        </tr>
        <tr>
          <td>Mooring Fees</td>
          <td style="text-align: right"><%= @fees %></td>
        </tr>
        <% if @mooring_maint_fee != 0 %>
        <tr>
          <td>Mooring Replacement Fund</td>
          <td style="text-align: right"><%=  @mooring_maint_fee %></td>
        </tr>
        <% end %>
        <% if @initiation != 0 %>
        <tr>
          <td>Initiation</td>
          <td style="text-align: right"><%= number_to_currency(@initiation).rjust(10) %></td>
        </tr>
        <% end %>
        <tr>
	        <tr>
        </tr>
        <tr style="font-weight: bold">
          <td>Total Fees</td>
          <td style="text-align: right"><%= @total %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid black; padding: 10px"> Mooring info:<br/>
      <input type="checkbox" readonly> I wish to relinquish my mooring assignment until further notice.<br/>
      <input type="checkbox" readonly> I previously relinquished, now I wish to moor a boat at LCYC:<br/>
      <p>Type: ___________________________<br/>
      <p>Length: _______________
      <p>Special Requests/Comments<br/><br/><br/><br/><br/><br/>
    </td>
  </tr>
</table>

