<% if @role %>
 <h1>Users with role of <%= @role.name %></h1>
<% else %>
<h1>Users</h1>
<% end %>

<table class="table table-sm table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Confirmed?</th>
      <th scope="col" class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for user in @users %>
    <tr scope="row">
      <td><%= link_to user.firstname, edit_user_path(user)%></td>
      <td><%= user.lastname %></td>
      <td><%= user.email %></td>
      <td><%= user.email_confirmed %></td>
      <td class="list-actions">
	<% if @role %>
        <%= link_to 'Remove', rmrole_role_user_path(@role, user), :confirm => 'Are you sure?', :method => :delete %>
	<% else %>
        <%= link_to 'Show', user %><br/>
        <%= link_to 'Destroy', user, data: { confirm: 'Are you sure?'}, :method => :delete %>
	<% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
