<div class=compact>
  <h2>User</h2>

  <table>
    <tr>
      <td><b>First Name: </b></td>
      <td><%= @user.firstname %></td>
    </tr>
    <tr>
      <td><b>Last Name: </b></td>
      <td><%= @user.lastname %></td>
    </tr>
    <tr>
      <td><b>Email: </b></td>
      <td><%= @user.email %></td>
    </tr>
    <% unless @user.roles.nil? %>
      <tr class="compact">
	<td><b>Roles: </b></td>
	<% for role in @user.roles.sort {|a,b| a.name <=> b.name} %>
	  <td><%= role.name %></td>
	<% end %>
      </tr>
    <% end %>
  </table>

  <p>
    <%= link_to 'Edit', edit_user_path(@user) %>
    <% if current_user&.role?('Admin') %>
      | <%= link_to 'Back', users_path %>
    <% end %>
  </p>
</div>
