<div class=compact>
  <h2>User</h2>

  <table>
    <tr>
      <td><b>First Name: </b></td>
      <td><%= @user.firstname %></td>
    </tr>
    <tr>
      <td><b>Last Name: </b></td>
      <td><%= @user.lastname %></td>
    </tr>
    <tr>
      <td><b>Email: </b></td>
      <td><%= @user.email %></td>
    </tr>
    <% unless @user.role.nil? %>
      <tr class="compact">
	<td><b>Role: </b></td>
	<td><%= @user.role.name %></td>
      </tr>
    <% end %>
  </table>

  <p>
    <%= link_to 'Edit', edit_user_path(@user) %>
    <% if Current.user.admin? %>
      | <%= link_to 'Back', users_path %>
    <% end %>
  </p>
</div>
