<%= form_with model: @person, url: directory_path(@person) do |f| %>
  <div class="field">
    <%= f.label :FirstName %>
    <%= f.text_field :FirstName %>
  </div>
  <div class="field">
    <%= f.label :LastName %>
    <%= f.text_field :LastName %>
  </div>
  <div class="field">
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

