<div class="ms-4">
  <h2>Membership Directory</h2>
  <%= form_with url: directory_index_path, method: :get, local: true, class: "row g-3 my-3" do |f| %>
  <div class="col-auto">
    <%= f.text_field :query, 
        value: params[:query], 
        placeholder: "Search by name or email...", 
        class: "form-control" %>
  </div>
  <div class="col-auto">
    <%= f.submit "Search", class: "btn btn-primary" %>
    <% if params[:query].present? %>
    <%= link_to "Clear", directory_index_path, class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
  <% end %>
    
  <table class="table table-sm table-striped table-spacious">
    <thead class="thead-light">
      <tr>
	<th>Name</th>
	<th>Email</th>
	<th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |p| %>
      <tr>
	<td><%= link_to "#{p.LastName}, #{p.FirstName}", directory_path(p) %></td>
	<td><%= link_to p.EmailAddress, "mailto:#{p.EmailAddress}" %></td>
	<td><%= number_to_phone(p.CellPhone, area_code: true) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
