<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LCYC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("favicon.png"), rel: "icon", type: "image/x-icon" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div id="header" class="container-fluid mt-0 mb-1">
      <div id="logo-title" class="row align-items-center">
	<span>
          <a id="logo-img" href="/" title="Home"><%= image_tag("logo8.png", alt: "LCYC", id: "logo") %></a>
          <h1 id="site-name">
            <a href="/" title="Home"><span class="text-nowrap">Lake Champlain Yacht Club Administration</span></a>
          </h1>
	</span>
      </div>
    </div>
    <div class="container row mt-2">
      <%= flash_messages %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
